*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 0.9rem;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

h2 a, h2 {
    color: #0066ff;
}

/* ---------- NAVIGATION ---------- */
/*top bar*/
.index-top-nav {
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: #0066ff;
    padding: 15px;
    z-index: 3;
    text-align: center;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;

}

.index-top-nav > h1 {
    text-decoration: none;
    font-size: 20px;
    margin-top: -3px;
    margin-left: 220px;
}

.index-top-nav > h1 > a {
    color: #fff;
}

#responsiveH1 {
    display: none;
    margin-top: -3px;
    margin-left: 220px;
}

/*top bar les liens de création et connexion de membre*/
.connexion {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
}

.btn-nav > a:nth-child(even) {
    display: none;
}

.btn-nav {
    display: inline-flex;
    margin-left: -2px;
}

.btn-nav > a {
    background-color: white;
    color: #0066ff;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    padding-top: 14px;
    font-weight: bold;
}

.btn-nav > a:hover {
    background-color: #0066ff;
    color: white;
    border-bottom: 1px #ffffff solid;
}

.co1 {
    text-transform: uppercase;
}


/* navigation index, left side */
.index_nav_col_left {
    position: fixed;
    top: 48px;
    height: 95vh;
    background-color: #0066ff;
    margin: 0;
    z-index: 3;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.index_nav_col_left > ul > li > a {
    color: #000;
    text-decoration: none;
}

.index_nav_col_left > ul > li {
    list-style: none;
    padding: 16px;
}

.index_nav_col_left > .left_nav_top_ul > li:hover {
    background-color: #0066ff;
    font-weight: bolder;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}

.index_nav_col_left > .left_nav_top_ul > li:hover a {
    color: white;
}

.index_nav_col_left > ul {
    padding-left: 0;
    margin-left: -10px;
    background-color: #fff;
}

.left_nav_top_ul {
    margin-top: -15px;
    margin-bottom: 20px;
}

.left_nav_top_ul-Off {
    margin-top: -15px;
    margin-bottom: 20px;
}

.color-priority {
    display: block ruby;
    margin-bottom: 20px;
}

#color-priority {
    text-decoration: underline;
    margin-bottom: 5px;
}

/* --------- div block central ---------- */
.index_col_center {
    position: relative;
    margin-left: 220px;
    padding: 49px 0 32px 0;
    min-height: 100%;
    z-index: 1;
    text-align: center;
}

/* ---------- onglets sur l'index ----------  */
.tablink {
    background-color: #555;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
    max-height: 50px;
    overflow: hidden;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 100px 0;
    height: 100%;
}

.tabcontent_margin {
    margin-left: 220px;
}

/* ---------- formulaire "raf" "communication" ---------- */
h2 {
    padding-left: 10px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.responsive-block-form span {
    color: #0066ff;
    font-size: 20px;
}

.label-input-raf-form {
    padding: 15px;
}

.col_form_left {
    display: inline-block;
    vertical-align: top;
    min-width: 350px;
    max-width: 500px;
}

.col_form_right {
    min-width: 350px;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    margin-top: -15px;
}

textarea {
    width: 80%;
    height: 140px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}

select, input, textarea {
    margin-top: 6px;
}

.submit {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    background-color: #06f;
    border-radius: 25px;
}

input[type="submit"]:hover {
    background-color: white;
    color: #0066ff;
    cursor: pointer;
}

/* -------- formulaire inscription membre ---------- */
.table-center > tbody > tr > td {
    text-align: right;
}

.table-center {
    display: inline-block;
}

.table-center td {
    /*width: 100px;*/
}

.table-center tr {
    /*width: 100px;*/
}


/* affichage si erreur sur le formulaire de nouveau raf */
.error {
    font-weight: 1000;
    color: #fff;
    background-color: #ff7474;
    max-width: max-content;
    display: inline-block;
    padding: 15px;
    border: 3px solid red;
    border-radius: 15px;
}

#inscriptionLink {
    color: #0066ff;
}

/* ---------- CARTE RAFS dans form-raf ----------*/
.display_raf {
    width: 350px;
    border: 3px solid red;
    margin: 5px;
    padding: 5px;
    text-align: left;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    color: #000;
}

.displayName {
    text-align: left;
    padding: 10px 5px;
    margin: -5px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    background-color: #0066ff;
    text-transform: lowercase;
    position: relative;
}

.displayName::first-letter {
    text-transform: uppercase;
}

.displayEdit {
    float: right;
    margin-top: 9px;
    position: relative;
    z-index: 1;
}

.displayEdit > a {
    color: white;
}

.displayEdit > a > i {
    font-weight: 500;
}

.displayBaseInfo {
    color: #949494;
    display: contents;
}

.displayDescription {
    margin-top: 44px;
    max-width: 350px;
    overflow-wrap: anywhere;
}

.displayDuration {
    float: left;
    margin-top: 15px;
}

.displayProject {
    float: right;
    margin-top: 10px;
}

.displayDeadline {
    margin-top: 10px;
    float: left;
}

.displayNoObs {
    height: 20px;
    max-width: 350px;
}


.displayObs {
    margin-top: 10px;
    max-width: 350px;
    overflow-wrap: anywhere;
}

.displayDDay {
    margin-top: 10px;
    float: right;
}

/* barre d'avancement % */
.bg_third {
    margin-top: 32px;
    height: 4px;
    background-color: #0066ff;
}

.bg_thirdOVER {
    font-size: 35px;
    text-align: center;
    margin: 20px;
    color: #003751;
}

.bg0text, .bg33text, .bg66text {
    font-size: 0.8em;
}

.bg0text {
    border-radius: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: -22px;
    padding-top: 13px;
    background-color: #0066ff;
    color: #fff;
}

.bg33text, .bg66text {
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin-left: 27.012%;
    margin-top: -22px;
    background-color: #0066ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg66text {
    margin-left: 60.012%;
}

/* ---------- PAGE DIAGRAMME ---------- */
.index_col_center-diagramme {
    position: relative;
    margin-left: 220px;
    padding: 60px 15px;
    min-height: 100%;
    text-align: center;
}

/* ensemble des graphiques alignés sur la page */
.diaTime {
    display: inline-flex;
}

/* ---------- DIAGRAM CENTRALE ---------- */
/* espace occupé du diagram*/
.dia-center {
    border: 1px solid black;
    width: 500px;
    height: 300px;
    display: flex;
    margin-bottom: 50px;
}

/* taille du diagramme*/
.dia-size-center {
    display: flex;
    justify-content: center;
    width: 600px;
}

/* colonnes date + barre cumul catégorie */
.col {
    margin-right: 10px;
    margin-left: 10px;
    display: grid;
    align-content: end;
}

/* date -> 5 semaines, aux dessus des barres */
.date {
    font-size: 0.7em;
    margin-top: 5px;
    width: 80px;
    position: absolute;
}

/* barres du diagramme central */
.barBase {
    width: 80px;
    z-index: 2;
}


/*error bar si plus de 90 heures*/
.error-height-bar {
    max-width: 100px;
    overflow: hidden;
}

/*ligne sur le diagramme central 0h -> 35h*/
.line0 {
    position: relative;
    top: 276px;
    left: -501px;
    height: 10px;
}

.line-graduation {
    border-bottom: 1px black solid;
    width: 500px;
}

.graduation {
    position: relative;
    left: -21px;
    top: 10px;
    background-color: #000;
    color: white;
    padding: 0.1em;
    width: 22px;
    height: 22px;
}

.line35 {
    position: relative;
    top: 171px;
    left: -1001px;
    height: 10px;
}

.line-graduation35 {
    border-bottom: 1px black solid;
    width: 500px;
}

.lineHours {
    position: relative;
    left: -32px;
    top: 7px;
    width: 22px;
}

.fa-exclamation-triangle{
    color: red;
    font-size: 25px;
    z-index: 1;
}

/*font awesome dans le tableau des RAFS*/
.fas {
    position: relative;
}

.fasCheckDia {
    color: #138D00;
}

/* ---------- DIAGRAM PIE GAUCHE ---------- */
.pie-left {
    margin-right: 50px;
}

.pie-left-php {
    margin-top: 25px;
}

/*SOUS LE DIAGRAM DE GAUCHE*/
.cat_under_pie_color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px -1px 0;
    border: #191919 solid 1px
}

.cat_under_pie {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.no-padding {
    padding: 0;
}

/* ---------- DIAGRAM DROITE ---------- */

.pie-right {
    margin-left: 50px;
}

.pie-right-php {
    margin-top: 25px;
}

/* ---------- TABLEAU DES RAFS ---------- */
.table-responsive {
    border-collapse: collapse;
    font-size: 0.9em;
    text-align: center;
    display: inline-table;
}

.table-responsive > thead > tr > th {
    border: 1px solid black;
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.table-responsive > tbody > tr > td {
    border: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* taille des cellules du tableau RAFS */
.td1, .td9 {
    min-width: 110px;
    max-width: 110px;
    text-transform: capitalize;
}

.td10 {
    min-width: 80px;
    max-width: 80px;
}

.td3 {
    min-width: 140px;
    max-width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.td4, .td5 {
    min-width: 220px;
    max-width: 220px;
}

.td2 {
    max-width: 60px;
    min-width: 60px;
}

.td6, .td7, .td8 {
    min-width: 30px;
    max-width: 30px;
}

.td11 {
    min-width: 30px;
    max-width: 30px;
}

.table-responsive tr:hover td {
    background-color: #fff;
    color: #000;
}

.table-responsive th {
    background-color: #0066ff;
}

/*fichier includeInProject.php*/
.addColor {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: -4px 20px -4px 2px;
}

.addCategories {
    margin-top: 25px;
}

/*------------------ MANAGMENT ------------------*/
/* REQ DELETE / MODIFICATION AUTHOR & INCLUDEINPROJECT*/

.fa-user-times:hover {
    color: red;
}

.fa-user-tie:hover {
    color: #0066ff;
}

.del-managment h4 {
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: -30px;
}

.fa-user-edit:hover {
    color: #1eff1e;
}

.table-managment > tbody > tr > td {
    width: 100px;
    padding: 5px 0;
}

.table-managment {
    display: inline-flex;
    min-width: 300px;
}

.table-managment a {
    color: black;
}

.table-managment > tbody > tr > .td_name {
    width: 200px;
}

.fa-edit:hover {
    color: #1eff1e;
}

.fa-trash-alt:hover {
    color: red;
}

/* ---------- page INCLUDEINPROJECT ---------- */
.line-cat-includeinproject {
    display: block ruby;
}

.responsive-includeinproject {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.responsive-includeinproject td:first-child {
    padding-right: 10px;
}

/*******************************************/
/*                1366px                   */
/*******************************************/
@media (max-width: 1366px) {
    .index-top-nav > h1 {
        margin-left: 0;
    }

    .index_col_center {
        margin-left: 45px;
    }

    /* COLONNE PRINCIPAL DE LA PAGE DES DIAGRAMMES */
    .index_col_center-diagramme {
        margin-left: 45px;
    }

    .responsiveNotCoImg {
        width: 35px;
        height: 35px;
    }

    .responsiveCoImg {
        width: 35px;
        height: 35px;
        color: black;
    }
}

/*******************************************/
/*               1024px                    */
/*******************************************/
@media (max-width: 1024px) {
    /*titre*/
    .index-top-nav > h1 {
        display: none;
        text-decoration: none;
        font-size: 20px;
        margin-top: -3px;
        margin-left: 220px;
    }

    #responsiveH1 {
        display: flex;
        justify-content: left;
        margin-top: -10px;
        margin-left: -10px;
    }

    #responsiveH1 > a > img {
        width: 35px;
        height: 35px;
    }

    .index-top-nav > h1 {
        margin-left: 0;
    }

    /*image de connexion*/
    .btn-nav {
        margin-left: 2px;
    }

    .btn-nav > a:first-child {
        display: none;
    }

    .btn-nav > a {
        background-color: unset;
        padding-top: 6px;
    }

    .btn-nav > a > .connexion-img {
        display: block;
        width: 35px;
        height: 35px;
    }

    .btn-nav > a > .connexion-img-hover {
        display: none;
    }

    .btn-nav > a:hover > .connexion-img {
        display: none;
    }

    .btn-nav > a:hover > .connexion-img-hover {
        display: block;
        width: 35px;
        height: 35px;
    }

    .btn-nav > a {
        padding-left: 0;
        padding-right: 2px;
    }

    .connexion {
        margin-right: 12px
    }

    .btn-nav > a:nth-child(even) {
        display: unset;
    }

    /*colonne de gauche en responsive en lien avec le js du fichier nav>top-left-nav.php*/
    .index_nav_col_left > ul {
        padding-left: 0;
        margin-left: -25px;
        margin-right: 0;
    }

    .index_nav_col_left > ul > li {
        margin-left: 14px;
    }

    /* onglet sur l'index */
    .tablink {
        cursor: pointer;
        padding: 14px 0;
        font-size: 14px;
    }


    /*placement des diagrammes les uns sous les autres*/
    .diaTime {
        display: inline-flex;
        flex-flow: column;
    }

    /*ajout d'une marge sous les diagrammes rond*/
    .pie-right, .pie-left {
        margin: 0 0 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cat_under_pie {
        padding-left: 50px;
        display: block;
    }


    /*Tableau de la page Diagramme. Les TH disparaissent et ce sont les titres dans les td dans le data-lable="" qui prennent
    la place à gauche puis sur la droite le contenu du td*/
    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive tr,
    .table-responsive th,
    .table-responsive td {
        display: block;
    }

    .table-responsive thead {
        display: none;
    }

    .table-responsive {
        min-width: 80%;
    }

    .table-responsive td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
    }

    .table-responsive td::before {
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: #0066ff;
        color: #000;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .table-responsive tr {
        margin-bottom: 1rem;
    }

    .table-responsive th + td {
        padding-left: 10px;
    }

    .table-responsive > tbody > tr > td {
        border: none;
        overflow: unset;
        text-overflow: unset;
        white-space: unset;
    }

    .table-responsive tr:hover td {
        background-color: unset;
    }

    /* taille des cellules du tableau RAFS */
    .td1, .td9, .td10, .td3, .td4, .td5, .td2, .td6, .td7, .td8, .td11 {
        min-width: 70px;
        max-width: 700px;
    }
    .td3{
        padding-top: 0;
        padding-bottom: 0;
    }
}

/*******************************************/
/************ de 768px à 1024px ************/
/*******************************************/
@media (max-width: 768px) {
    .pie-left {
        display: flex;
    }

    .display_raf {
        width: 47%;
    }
}

@media (max-width: 682px) {
    .display_raf {
        width: 96%;
        min-width: 300px;
    }

    .graduation {
        background-color: unset;
        color: black;
        font-size: 0.7em;
        top: 10px;
        left: -3px;
    }

    #zero {
        left: -5px;
    }

    .lineHours {
        font-size: 0.7em;
        top: 0;
        left: 0;
    }

    .dia-size-center {
        width: 485px;
    }
}

@media (max-width: 480px) {
    .color-priority {
        display: block;
    }

}

@media (max-width: 445px) {
    .display_raf {
        width: 80%;
        min-width: 300px;
    }

    .tablink {
        width: 100%;
        float: unset;
    }

    .tabcontent {
        padding: 0;
    }

}
